body{
    background-color: LIGHTCYAN
}

.nav-link{
    font-weight: lighter
}

.nav-link:hover{
    font-weight: bolder;
    background-color: #eee
}
header{
    height:600px;
    width:100%;
    background-image:url("aesthetic.jpg");
    background-size: cover;
    text-align:center;
    font-family: 'Herr Von Muellerhoff', cursive;
}

.aboutus {
    text-align: center;
}

.aboutus i{
    font-size:30px;
    padding: 25px 20px;
    
    /*change the color*/
    color: #fff;
    background-color: #5cb85c;
    
    /*resize and shape*/
    width: 80px;
    height: 80px;
    border-radius: 50%
}

.aboutus span{
    width: 200px;
    display: inline-block;
}

/*team*/
.team img{
    width: 250px;
    height: 250px;
    /*shape*/
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}

.getinvoled{
    background-color: #5cb85c;
    text-align: center
}

.getinvoled i{
    width:50px;
    height:50px;
    font-size: 40px;
}

.getinvoled span{
     width: 200px;
    display: inline-block;
}

.options{
    background-color: #fff;
}

.options{
    padding: 30px;
    margin: 10px;
    border: 1px solid #ccc
}

.getinvoled h2{
    color: #fff
}

.getinvoled{
    padding: 30px;
}

.contacts .btn{
    border-radius:0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color:#fff;
}